
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to the portfolio collection only for authenticated users
    match /portfolio/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
