@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 28 25% 97%; /* #FAF7F5 */
    --foreground: 210 6% 23%; /* #383A3D */

    --card: 28 25% 97%;
    --card-foreground: 210 6% 23%;

    --popover: 28 25% 97%;
    --popover-foreground: 210 6% 23%;

    --primary: 210 6% 15%; /* #242628 */
    --primary-foreground: 0 0% 98%;

    --secondary: 214 8% 21%; /* #32363B */
    --secondary-foreground: 0 0% 98%;

    --muted: 210 5% 90%;
    --muted-foreground: 215.4 16.3% 46.9%;
    
    --accent: 38 71% 72%; /* #E9C49A */
    --accent-foreground: 210 6% 23%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 210 6% 23%;

    --radius: 0.5rem;
  }
 
  .dark {
    --background: 210 6% 15%;
    --foreground: 0 0% 98%;

    --card: 210 6% 15%;
    --card-foreground: 0 0% 98%;

    --popover: 210 6% 15%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 210 6% 15%;

    --secondary: 0 0% 98%;
    --secondary-foreground: 210 6% 15%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 38 71% 72%;
    --accent-foreground: 210 6% 15%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 217 33% 22%;
    --input: 217 33% 22%;
    --ring: 216 34% 92%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}