@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 11% 95%; /* #F5F5F5 */
    --foreground: 240 6% 10%;

    --card: 120 11% 95%;
    --card-foreground: 240 6% 10%;

    --popover: 120 11% 95%;
    --popover-foreground: 240 6% 10%;

    --primary: 122 47% 81%; /* #C8E6C9 */
    --primary-foreground: 120 44% 10%;

    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;

    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;
    
    --accent: 187 54% 86%; /* #B2EBF2 */
    --accent-foreground: 187 45% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 122 47% 81%;

    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;

    --card: 240 6% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 122 47% 81%;
    --primary-foreground: 120 44% 10%;

    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;

    --accent: 187 54% 86%;
    --accent-foreground: 187 45% 15%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 122 47% 81%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
